.company-dashboard {
  margin-left: 240px; /* chừa chỗ cho sidebar */
  padding: 30px;
}

.company-dashboard h1 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #002b5b;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.dash-card {
  flex: 1;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.dash-card p {
  font-size: 22px;
  margin-top: 10px;
  color: #00509d;
  font-weight: bold;
}

.chart-btn {
  font-size: 16px;
  padding: 10px 20px;
}
